figure {
  display: grid;
  align-content: center;
  margin: 3em auto;
  grid-template-columns: repeat(5, 1fr);
  background-image: linear-gradient(#000000, #110000);
  max-width: 80%;
}

figure.large {
  display: flex;
  flex-flow: column;
  align-items: center;
}

figure>* {
  background-color: #000000;
  box-sizing: border-box;
}

figure div {
  grid-column: 1 / 6;
  outline: none;
}

figure .img {
  height: 20em;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

figcaption {
  box-sizing: border-box;
  grid-column: span 5;
  padding: 1em;
  font-size: 1.15em;
  text-align: center;
  font-family: "Rowdies", sans-serif;
}

.inverted {
  background-image: linear-gradient(#110000, #000000);
}

.gallery figure {
  grid-column: span 1;
  grid-template-columns: 1fr;
  padding: 0;
  background-color: 0px solid #000000;
  grid-gap: 0;
  margin: 0;
}

.gallery figure>* {
  grid-column: 1;
  transition-property: outline-offset, box-shadow;
  transition-duration: .1s;
}

.gallery figure div {
  height:15em;
}

.gallery figure:hover {
  outline-offset: 0;
  outline: 1px solid #FF0000;
  box-shadow: 0 0 80px #550000;
  z-index:0;
}

.gallery a {
  height: 100%;
}

.gallery picture img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.gallery figcaption {
  grid-row: 2;
  color: #FFFFFF;
  font-size: 1em;
  height: 100%;
}

.gallery {
  background-color: #000000;
  display: grid;
  grid-template-columns: auto;
  max-width: 90%;
  grid-gap: 1em;
  margin: 2em auto;
}

@media (min-width: 601px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  figure.large {
    flex-flow: row;
    grid-gap: 1em;
  }

  figcaption {
    grid-row: 1;
    grid-column: 4 / span 2;
  }

  figure div {
    grid-column: span 3;
  }

  figure.inverted figcaption {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
