@import "../node_modules/@fontsource/rowdies/index.css";
@import "../node_modules/@fontsource/work-sans/index.css";

/* make selected text red */

::selection {
  background-color: #EE0000;
  color: #000000;
}

/* base-level stuff */

body {
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
}

#wrapper {
  width: 80%;
  display: block;
  margin: 0 auto 0 auto;
  background-color: #000000;
}

/* header */

header {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr;
  background-color: black;
  margin: 10px 0 10px 0;
}

.headerbg {
  grid-column: 1;
  width: 100%;
}

#logo {
  display: block;
  width: 9em;
  height: 2em;
  margin: 20px 0;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-position: center;
}

nav>ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  list-style-type: none;
}

nav li {
  flex: auto;
  text-align: center;
}

a {
  color: #FF0000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

a:visited {
  color: #CC0000;
}

nav a {
  display: inline-block;
  width: 100%;
  padding: 2em 0;
  font-size: 0.9em;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: background-color 0.2s;
  font-family: "Rowdies", sans-serif;
}

nav a:visited {
  color: #FFFFFF;
}

nav a:hover {
  background-color: #330000;
  color: #FF3333;
}

nav .dropdown {
  position: relative;
}

nav .dropdown div {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #000;
  z-index: 20;
}

nav .dropdown:hover div {
  display: flex;
  flex-flow: column;
}

nav .dropdown div a {
  border-top: 1px solid #220000;
  font-weight: 300;
}

nav .dropdown>a:after {
  content: " ▼";
  font-size: 1em;
  color: #CC0000;
  position: absolute;
  right: 20px;
}

/* default elements across all pages */

i {
  background-image: linear-gradient(#000000 60%, #550000 60%, #550000 100%);
}

p {
  box-sizing: content-box;
  width: 60%;
  font-size: 1.2em;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  margin: 1em auto;
  line-height: 1.4em;
  outline: 1px solid #550000;
  padding: 15px;
}

main * p {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-size: 0.8em;
  padding: 10px;
}

main {
  font-family: "Work Sans", serif;
  max-width: 100%;
  display: flex;
  flex-flow: column;
}

.hero {
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4em;
  min-height: 150px;
  max-height: 150px;
}

h2 {
  font-family: "Rowdies", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5em;
}

h3 {
  font-family: "Rowdies", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.2em;
  margin: 1em 0;
}

h4 {
  font-family: "Rowdies", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
}

/* services.php options */
.options {
  margin: 2em auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.options a {
  flex: 1;
  text-align: center;
}

.options h4 {
  padding: 4em 0;
  color: #FFFFFF;
  outline: 1px solid #AA0000;
  outline-offset: 3px;
  background-size: 90%;
  background-position: center;
  transition-property: background-size, outline-offset;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#illustration {
  background-image: url(../images/illustration.png);
}

#branding {
  background-image: url(../images/branding.png);
}

.options h4:hover {
  background-size: 110%;
  outline-offset: 10px;
  box-shadow: 0 0 80px #440000;
}

/* general hero stuff */

.hero h3 {
  color: #CC0000;
  padding: 0;
}

h2:before,
h2:after {
  content: "—";
  color: #550000;
}

h3:before,
h3:after {
  content: "—";
  color: #550000;
}

#index {
  background-image: url(../images/background.png);
  background-size: 130%;
  padding: 8%;
}

/* about page specifics */

#about {
  background-image: url(../images/background2.png);
  background-size: 100%;
  padding: 5%;
}

#portrait {
  display: block;
  width: 50%;
  background-image: cover no-repeat url(../images/portrait.jpg);
  outline: 1px solid red;
  padding: 5px;
  vertical-align: middle;
}

#divider {
  position: absolute;
  width: 50%;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(50%);
}

#fulllogo {
  position: relative;
  display: block;
  margin: auto;
  width: 45%;
}

#socials {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  width: 80%;
  padding-left: 0;
  margin: 0 auto 0 auto;
  font-family: "Rowdies", sans-serif;
  font-weight: bolder;
}

#socials li {
  max-width: 200px;
  flex: 1;
}

#socials a {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7em;
}

#socials a div {
  color: #FFFFFF;
}

#socials a:hover div {
  color: red;
}

#socials img {
  max-width: 35px;
  margin: 10px 0 10px 0;
}

/* forms */

form {
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-gap: 2em 0;
  width: 70%;
  margin: 0 auto;
  outline: 2px solid #330000;
  background: #110000;
  padding: 2em;
  align-items: center;
}

form .field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 1em;
  width: 100%;
}

form>span {
  grid-column: span 3;
  display: flex;
  justify-content: right;
  gap: 0.5em;
}

form input::placeholder,
form textarea::placeholder {
  color: #AA0000
}

b {
  color: #AA0000;
}

#buttons {
  grid-row: span 1;
  grid-column: span 3;
  display: flex;
  gap: 1em;
}

form label {
  width: 5em;
  text-align: left;
}

form input[type=text],
input[type=email],
textarea {
  padding: 1em;
  background-color: #000000;
  border: 1px solid #770000;
  color: white;
  resize: vertical;
  min-height: 2em;
  flex: 1;
}

form input[type=submit],
input[type=reset] {
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  background-color: #550000;
  border: 1px solid #FF0000;
  border-radius: 5px;
  flex: 1;
}

form input[type=submit] {
  padding: 10px 20px;
}

form input[type=reset] {
  padding: 0 20px;
  background-color: #000000;
  border-color: #CC0000;
  flex: 1;
}

/* footer */

footer {
  margin-top: 2em;
  background-color: #000000;
  height: 80px;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}

/* media control for middle-size (600-1024px), all header */

@media (max-width: 1024px) {
  #wrapper {
    width: 100%;
  }

  header {
    display: flex;
    flex-flow: column;
  }

  .headerbg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #logo {
    margin: 20px auto;
  }

  nav ul {
    margin: 10px auto;
    width: 90%;
  }
}

/* media control for small-size (<600px) */

@media (max-width: 600px) {

  main {
    position: relative;
    margin-top: 72px;
  }

  /* header options */

  header {
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    max-width: 100%;
    background: none;
    visibility: hidden;
  }

  .headerbg {
    background: #000;
    z-index: 9996;
    height: fit-content;
    visibility: visible;
  }

  .dropdownbg {
    display: relative;
    height: 100%;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    visibility: hidden;
    clip-path: inset(0 0 100% 0 round 0);
    transition: all 0.2s ease-in-out;
  }

  .shown {
    visibility: visible;
    clip-path: inset(0 0 0 0 round 0);
  }

  .shown * {
    visibility: visible;
  }

  #logo {
    margin: 20px 30px;
  }

  nav {
    display: absolute;
    height: 100%;
  }

  nav ul {
    margin: 0;
    flex-flow: column;
    width: 100%;
  }

  nav li {
    border-top: 1px solid #AA0000;
  }

  nav .dropdown div {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  /* general stuff */

  #divider {
    width: 70%;
  }

  h3 {
    padding-bottom: 2px;
  }

  h3:before,
  h3:after {
    content: "";
  }

  p {
    font-size: 1.25em;
  }

  /* services.php */

  .options {
    width: 60%;
    flex-flow: column;
    margin: 0 auto;
  }

  .options a {
    width: 100%;
  }

  /* forms */

  form {
    width: 100%;
  }
}