/* make selected text red */

::selection {
  background-color: #EE0000;
  color: #000000;
}

/* base-level stuff */

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden scroll;
}

#wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0 auto 0 auto;
  background-color: #000000;
}

/* default elements across all pages */

a {
  color: #FF0000;
  text-decoration: none;
  }
  
a:hover {
color: #FFFFFF;
}
  
i {
  font-size: inherit;
  background-image: linear-gradient(#000000 60%, #550000 60%, #550000 100%);
}


b {
  color: #AA0000;
}

p {
  box-sizing: content-box;
  width: 40%;
  font-size: 1.2em;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  margin: 3em auto;
  line-height: 1.4em;
  outline: 1px solid #550000;
  padding: 15px;
}


p.borderless {
  width: 80%;
  outline: none;
}

p.small, p.small * {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 10pt;
  display: inline;
  font-weight: bold;
}

p.small {
  margin: 20px auto;
}

main {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column;
}

main * p {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-size: 20px;
  padding: 10px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 4em;
  max-height: 400px;
  background-image: url(../images/background.png);
  background-size: cover;
  padding: 5%;
}

.subtitle {
  font-weight: "Rowdies", "Work Sans", sans-serif;
}

#index {
  position: relative;
  display: flex;
  left:0;
  bottom: 80;
  flex-flow: column nowrap;
  justify-content: flex-end;
  overflow: hidden;
  height: 800px;
  max-height: 90%;
}

#index, #index * {
  margin: 0;
  padding: 0;
}

#index picture img {
  display: inline-block;
  width: 100%;
}

#spinning_logo {
  position: relative;
  top: 0;
  width: 30rem;
  background-size: cover;
}

#logotype {
  max-width: 40rem;
  width: 50%;
  height: 100%;
}

#index span {
  display: block;
  text-align: center;
  font-family: "Rowdies";
  font-weight: 300;
  margin-bottom: 100px;
}

#index .subtitle {
  font-weight: 700;
  font-size: 60px;
}

h2, h3, h4 {
  font-family: "Rowdies", "Work Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin: auto;
}

h3 {
  color: #FFFFFF;
  font-size: 1.2em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

/* services.php options */
.options {
  margin: 2em auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.options a {
  flex: 1;
  text-align: center;
}

.options h4 {
  padding: 4em 0;
  color: #FFFFFF;
  outline: 1px solid #AA0000;
  outline-offset: 3px;
  background-size: 90%;
  background-position: center;
  transition-property: background-size, outline-offset;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.options h4:hover {
  background-size: 110%;
  outline-offset: 10px;
  box-shadow: 0 0 80px #440000;
}

/* general hero stuff */

.hero h3 {
  color: #CC0000;
  padding: 0;
}

h2:before,
h2:after {
  content: "—";
  color: #550000;
}

h3:before,
h3:after {
  content: "—";
  color: #550000;
}

/* about page specifics */

#portrait {
  display: block;
  width: 50%;
  background-image: cover no-repeat url(../images/portrait.jpg);
  outline: 1px solid red;
  padding: 5px;
}

#divider {
  position: absolute;
  width: 50%;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(50%);
}

#fulllogo {
  position: relative;
  display: block;
  margin: auto;
  height: 45%;
}

/* forms */

form, form * {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

form {
  text-align: center;
  display: grid;
  grid-gap: 2em 0;
  max-width: 600px;
  width: 70%;
  margin: 0 auto 3em auto;
  outline: 2px solid #330000;
  background: #110000;
  padding: 2em;
  align-items: center;
}

form .field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  width: 100%;
}

form>span {
  grid-column: span 3;
  display: flex;
  justify-content: right;
  gap: 0.5em;
}

form input::placeholder,
form textarea::placeholder {
  color: #AA0000
}


#buttons {
  grid-row: span 1;
  grid-column: span 3;
  display: flex;
  gap: 1em;
}

form label {
  width: 5em;
  text-align: left;
}

form input[type=text],
input[type=email],
textarea {
  padding: 1em;
  background-color: #000000;
  border: 1px solid #770000;
  color: white;
  resize: vertical;
  min-height: 2em;
  flex: 1;
}

form input[type=submit],
input[type=reset] {
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  background-color: #550000;
  border: 1px solid #FF0000;
  border-radius: 5px;
  flex: 1;
}

form input[type=submit] {
  padding: 10px 20px;
}

form input[type=reset] {
  padding: 0 20px;
  background-color: #000000;
  border-color: #CC0000;
  flex: 1;
}

/* media control for middle-size (600-1024px) */

@media (max-width: 1024px) {
  #wrapper {
    width: 100%;
  }

  main {
    position: relative;
  }
}

/* media control for small-size (<600px) */

@media (max-width: 600px) {

  #index .subtitle {
    font-size: 28px;
  }

  /* general stuff */

  #wrapper {
    position: relative;
    top: 75px;
    height: 100%;
  }

  .hero {
    min-height: 100px;
  }

  #divider {
    width: 70%;
  }

  h3 {
    padding-bottom: 2px;
  }

  p {
    font-size: 1.25em;
  }

  /* services.php */

  .options {
    width: 60%;
    flex-flow: column;
    margin: 0 auto;
  }

  .options a {
    width: 100%;
  }

  /* forms */

  form {
    width: 100%;
  }
}

#loadOverlay {
  display: none;
}