.socials {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  grid-gap: 2em;
  padding-left: 0;
  font-family: "Work Sans", sans-serif;
  justify-content: center;
  align-items: center;
}

.socials.large {
  margin: 1em auto;
}

.socials li {
  flex: 1;
  min-width: 50px;
  max-width: 75px;
}

.socials a {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.socials a span {
  color: #FFFFFF;
  transition: all 0.2s;
  margin-top: 10px;
}

.socials a:hover span {
  color: red;
  opacity: 1;
}

.socials picture {
  max-width: 35px;
}

.socials img {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
}

footer .socials {
  margin-left: 0;
  grid-gap: 0;
}

footer .socials img {
  width: 70%;
}

footer .socials span {
  opacity: 0;
  color: red;
}

@media (max-width: 600px) {

  .socials {
    width: 70%;
  }

  footer .socials {
    margin: 2em 0 0 0;
  }

}